In [3]:
import findspark

In [4]:
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [7]:
df = spark.read.json('people.json')

In [10]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [11]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [12]:
df.columns

['age', 'name']

In [14]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [35]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [36]:
data_schema = [StructField("age", IntegerType(), True),StructField("name", StringType(), True)]

In [37]:
final_struc = StructType(fields = data_schema)

In [38]:
df = spark.read.json('people.json', schema=final_struc)

In [40]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [42]:
type(df['age'])

pyspark.sql.column.Column

In [45]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [47]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [49]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [55]:
df.withColumn('new_stuff',df['age']+2).show()

+----+-------+---------+
| age|   name|new_stuff|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       32|
|  19| Justin|       21|
+----+-------+---------+

In [52]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [56]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [57]:
df.createOrReplaceTempView('people')

In [58]:
results = spark.sql("SELECT * FROM people")

In [59]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [60]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [61]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+